*{
    outline: 1px solid rbga(255,0,0,0,-7);
}
body{


    font-size: 16px;
    margin: 30px;
    background-image: url(images/tumblr_lt4cygopVz1r4ibs7o1_500.gif);

    

}
h2{
    font-family:cursive;
    font-size: 14px;
    background-image: url(images/liz.jpg);
    padding: 20px;
    color: blue;
    margin-right: 50%;
}
.intro header h1
{
    font-size:90px;
    text-align: center;
    background-image: url(images/animated_60.gif);
    background-size:auto;
    color: blue;
}
li{
    background-color: burlywood;
    padding-bottom: 2px;
    
    padding-left: 23px;
    margin-left: 50%;
    background-image: url(images/fondo1.gif);
}
p{
    margin-right: 50%;
    background-image: url(images/tumblr_lt4cygopVz1r4ibs7o1_500.gif);
    background-repeat:repeat-x:
    page-break-before: 20px;
    

        

}
h3{
    margin-right: 50%;
    font-family:cursive;
    font-size: 14px;
    background-image: url(images/liz.jpg);
    padding: 10px;
    color: blue;
}

    
        



